/*  your css code here. If applicable */
.d1{
display: flex;
align-content: center;
align-items: center;	
justify-content: center;
height: 100vh;	
border-top-width: 2px;	
}
.square{
 width: 200px;
  height: 200px;
  background-color: lightblue;
  border: 2px black solid;
  align-items: center;
  justify-content: center;
  display: flex;	
  color: purple	
}
